image: node:24

variables:
  MAIN_BRANCH: 'main'
  DEV_BRANCH: 'dev'
  TEST_BRANCH: 'test'

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH

before_script:
  # - npm install --global corepack@latest
  - corepack enable
  - corepack prepare pnpm@latest-10 --activate
  - pnpm config set store-dir .pnpm-store

stages:
  - install
  - validate
  - build
  - deploy

install:
  stage: install
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
    policy: pull-push
  script:
    - echo "CI_PROJECT $CI_PROJECT_PATH"
    - echo "CI_COMMIT_REF_NAME $CI_COMMIT_REF_NAME"
    - node -v
    - pnpm -v
    - pnpm install --frozen-lockfile

# lint:
#   stage: validate
#   extends: .npm_cache_pull
#   needs:
#     - job: install
#   cache:
#     key: ${CI_COMMIT_REF_SLUG}
#     paths:
#       - node_modules/
#     policy: pull
#   script:
#     - pnpm lint

# test:
#   stage: validate
#   extends: .npm_cache_pull
#   needs:
#     - job: install
#   script:
#     - pnpm test
#   artifacts:
#     when: always
#     reports:
#       junit: reports/junit/junit.xml
#     paths:
#       - reports/
#     expire_in: 1 week
#   rules:
#     - if: $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH
#     - if: '$CI_COMMIT_BRANCH == $TEST_BRANCH'

build:
  stage: build
  extends: .npm_cache_pull
  before_script:
    - echo "DATABASE_URL is set ${DATABASE_URL}"
    - echo "BETTER_AUTH_SECRET is set ${BETTER_AUTH_SECRET}"
    - echo "BETTER_AUTH_URL is set ${BETTER_AUTH_URL}"
  script:
    - pnpm build
  artifacts:
    paths:
      - .next/
    expire_in: 1 week

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - local: 'ci/cache.yml'

# deploy:
#   stage: deploy
#   image: node:24
#   needs:
#     - job: build
#       artifacts: true
#   when: manual
#   environment:
#     name: production
#   script:
#     - echo "DATABASE_URL is set ${DATABASE_URL:+yes}"
#     - echo "BETTER_AUTH_SECRET is set ${BETTER_AUTH_SECRET:+yes}"
#     - echo "BETTER_AUTH_URL is set ${BETTER_AUTH_URL:+yes}"
#     - npm run deploy --if-present
#   only:
#     - main

release:
  stage: deploy
  image: node:24
  needs:
    - job: build
      artifacts: true
  before_script:
    - pnpm install
    - git config --global user.name "$GIT_USER_NAME"
    - git config --global user.email "$GIT_USER_EMAIL"
  script:
    - npx release-it --ci --no-npm.publish
  rules:
    - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH'