image: node:24

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - local: "ci/cache.yml"
  - local: "ci/setup.yml"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH

variables:
  MAIN_BRANCH: "main"
  DEV_BRANCH: "dev"
  TEST_BRANCH: "test"

stages:
  - install
  - lint
  - quality
  - security
  - test
  - build
  - deploy
  - health_check
  - release
  - notify
  - docs

install:
  stage: install
  extends:
    - .setup.info
    - .setup.corepack
    - .cache.write
  script:
    - pnpm -w install --no-frozen-lockfile

lint:
  stage: lint
  extends:
    - .setup.info
    - .setup.corepack
    - .cache
  script:
    - pnpm lint
  rules:
    - changes:
      - src/**/*
      - biome.json

code_quality:
  stage: quality
  extends:
    - .setup.info
    - .setup.corepack
    - .cache
  script:
    - pnpm exec biome ci --reporter=gitlab --colors=off > /tmp/gl-code-quality-report.json
    - cp /tmp/gl-code-quality-report.json gl-code-quality-report.json
  artifacts:
    reports:
      codequality:
        - gl-code-quality-report.json
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - changes:
      - src/**/*
      - biome.json

secret_detection:
  stage: security

sast:
  stage: security
  image: returntocorp/semgrep:latest
  variables:
    SEMGREP_RULES: "p/default"
  script:
    - semgrep ci --sarif --output semgrep.sarif
  artifacts:
    when: always
    reports:
      sast: semgrep.sarif
    paths:
      - semgrep.sarif

# test:
#   stage: test
#   extends:
#     - .setup.info
#     - .setup.corepack
#     - .cache
#   script:
#     - pnpm test
#   artifacts:
#     when: always
#     reports:
#       junit: reports/junit/junit.xml
#     paths:
#       - reports/
#     expire_in: 1 week
#   rules:
#   - if: $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH
#   # - if: '$CI_COMMIT_BRANCH == $TEST_BRANCH'
#   - changes:
#     - src/**

# build:
#   stage: build
#   extends:
#     - .setup.info
#     - .setup.env.production
#     - .setup.corepack
#     - .cache
#   script:
#     - pnpm dlx vercel pull --yes --environment=production --token=$VERCEL_TOKEN
#     - pnpm dlx vercel build --prod --token=$VERCEL_TOKEN
#   artifacts:
#     paths:
#       - .next/
#       - .vercel/
#       - .env.local
#     expire_in: 1 day

# deploy:
#   stage: deploy
#   extends:
#     - .setup.info
#     - .setup.corepack
#     - .cache
#   needs:
#     - job: build
#       artifacts: true
#   script:
#     - pnpm dlx vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
#   environment:
#     name: production
#     url: $SITE_URL
#   rules:
#     - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH && $DATABASE_URL && $BETTER_AUTH_SECRET && $BETTER_AUTH_URL'

# health_check:
#   stage: health_check
#   extends:
#     - .setup.corepack
#   script:
#     - echo "Performing health check on $SITE_URL"
#     - |
#       SUCCESS=0
#       for i in {1..5}; do
#         STATUS=$(curl -s -o /dev/null -w "%{http_code}" "$SITE_URL")
#         if [[ "$STATUS" =~ ^2|3 ]]; then
#           echo "Health check passed! Status: $STATUS"
#           SUCCESS=1
#           break
#         fi
#         echo "Health check attempt $i failed (status $STATUS). Retrying in 10s..."
#         sleep 10
#       done

#       if [ "$SUCCESS" -ne 1 ]; then
#         echo "Health check failed. Triggering automatic rollback."
#         pnpm dlx vercel rollback --token "$VERCEL_TOKEN" --yes
#         exit 1
#       fi
#   rules:
#     - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH'

# release:
#   stage: release
#   image: registry.gitlab.com/gitlab-org/cli:latest
#   rules:
#     - if: $CI_COMMIT_TAG
#       when: never
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#   script:
#     - echo "running release for $TAG"
#     - echo "SITE_URL=$SITE_URL"
#   release:
#     tag_name: 'v0.$CI_PIPELINE_IID'
#     description: 'v0.$CI_PIPELINE_IID'
#     ref: '$CI_COMMIT_SHA' 
#     assets:
#       links:
#         - name: Task planning
#           url: $SITE_URL
#           link_type: 'other'

notify:
  stage: notify
  script:
    - echo "Notify by telegram"

docs:
  stage: docs
  extends:
    - .setup.info
    - .setup.corepack
  script:
    - cd docs
    - pnpm install
    - pnpm build
    - mv build ../public
  pages: true
  artifacts:
    paths:
      - public/build
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
