workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true'
    - if: $CI_COMMIT_BRANCH == 'main'

stages:
  - lint
  - test
  - build
  - deploy


test:
  stage: test
  image: node:24
  script:
    - npm install
    - npm test
  artifacts:
    when: always
    reports:
      junit: reports/junit/junit.xml
    paths:
      - reports/
