image: node:24

variables:
  MAIN_BRANCH: "main"
  DEV_BRANCH: "dev"
  TEST_BRANCH: "test"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH

stages:
  - setup
  - install
  - lint
  - security
  - test
  - build
  - deploy
  - docs

# setup:
#   stage: setup
#   script:
#     - npm install --package-lock-only
#   artifacts:
#     paths:
#       - package-lock.json
#     expire_in: 1 hour

# install:
#   stage: install
#   extends:
#     - .setup.info
#     - .cache.write
#   needs:
#     - job: setup
#       artifacts: true
#   script:
#     - npm ci

# lint:
#   stage: lint
#   extends:
#     - .setup.info
#     - .cache
#   script:
#     - npm run lint
# rules:
#   - changes:
#     - src/**
#     - biome.json

# secret_detection:
#   stage: security

# sast:
#   stage: security

# sast:
#   stage: security
#   image: returntocorp/semgrep:latest
#   variables:
#     SEMGREP_RULES: "p/default"
#   script:
#     - semgrep ci --sarif --output semgrep.sarif
#   artifacts:
#     when: always
#     reports:
#       sast: semgrep.sarif
#     paths:
#       - semgrep.sarif
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#     - if: $CI_COMMIT_BRANCH == $MAIN_BRANCH


# test:
#   stage: test
#   extends:
#     - .setup.info
#     - .cache
#   script:
#     - npm test
#   artifacts:
#     when: always
#     reports:
#       junit: reports/junit/junit.xml
#     paths:
#       - reports/
#     expire_in: 1 week
# rules:
# - if: $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH
# - if: '$CI_COMMIT_BRANCH == $TEST_BRANCH'
# - changes:
#   - src/**
#   - biome.json

build:
  stage: build
  extends:
    - .setup.info
    - .setup.env.production
    - .setup.corepack
  script:
    - pnpm -w install --no-frozen-lockfile
    - pnpm dlx vercel pull --yes --environment=production --token=$VERCEL_TOKEN
    - pnpm dlx vercel build --prod --token=$VERCEL_TOKEN
  artifacts:
    paths:
      - .next/
      - .vercel/
    expire_in: 1 day

deploy:
  stage: deploy
  extends:
    - .setup.info
    - .setup.env.production
  needs:
    - job: build
      artifacts: true
  script:
    - npx vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
  rules:
    - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH && $DATABASE_URL && $BETTER_AUTH_SECRET && $BETTER_AUTH_URL'

release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cli:latest
  script:
    - echo "create release"
  release:
    tag_name: $CI_COMMIT_TAG
    name: "Release $CI_COMMIT_TAG"
    description: "Release created using the CLI."

docs:
  stage: docs
  before_script:
    - cd docs
    - npm ci
  script:
    - npm run build:docs
  artifacts:
    paths:
      - docs/build
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# cd docs -> pnpm i -> pnpm build -> pnpm start

include:
  # - template: Jobs/Secret-Detection.gitlab-ci.yml
  # - template: Jobs/SAST.gitlab-ci.yml
  - local: "ci/cache.yml"
  - local: "ci/setup.yml"

