# include:
#   - local: 'ci/templates.yml'

# .npm_cache:
#   cache: 
#     key: ${CI_COMMIT_REF_SLUG}
#   paths:
#     - node_modules/

.npm_base:
  image: node:24
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true'
    - if: $CI_COMMIT_BRANCH == 'main'

before_script:
  - npm install --global corepack@latest
  - corepack enable
  - corepack prepare pnpm@latest-10 --activate
  - pnpm config set store-dir .pnpm-store

stages:
  - install
  - validate
  - build
  - deploy

install:
  stage: install
  extends: .npm_base
  script:
    - echo "CI_PROJECT $CI_PROJECT_PATH"
    - echo "CI_COMMIT_REF_NAME $CI_COMMIT_REF_NAME"
    - node -v
    - pnpm -v
    - pnpm install --frozen-lockfile

lint:
  stage: validate
  extends: .npm_base
  needs:
    - job: install
  script:
    - pnpm lint

test:
  stage: validate
  extends: .npm_base
  needs:
    - job: install
  script:
    - pnpm test
  artifacts:
    when: always
    reports:
      junit: reports/junit/junit.xml
    paths:
      - reports/
    expire_in: 1 week

build:
  stage: build
  needs:
    - job: lint
    - job: test
  script:
    - echo "DATABASE_URL is set ${DATABASE_URL:+yes}"
    - echo "BETTER_AUTH_SECRET is set ${BETTER_AUTH_SECRET:+yes}"
    - echo "BETTER_AUTH_URL is set ${BETTER_AUTH_URL:+yes}"
    - pnpm build
  artifacts:
    paths:
      - .next/
    expire_in: 1 week

# deploy:
#   stage: deploy
#   image: node:24
#   needs:
#     - job: build
#       artifacts: true
#   when: manual
#   environment:
#     name: production
#   script:
#     - echo "DATABASE_URL is set ${DATABASE_URL:+yes}"
#     - echo "BETTER_AUTH_SECRET is set ${BETTER_AUTH_SECRET:+yes}"
#     - echo "BETTER_AUTH_URL is set ${BETTER_AUTH_URL:+yes}"
#     - npm run deploy --if-present
#   only:
#     - main
