image: node:24

variables:
  MAIN_BRANCH: "main"
  DEV_BRANCH: "dev"
  TEST_BRANCH: "test"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH

stages:
  - install
  - lint
  - security
  - test
  - build
  - deploy
  - rollback
  - docs

install:
  stage: install
  extends:
    - .setup.info
    - .setup.corepack
    - .cache.write
  script:
    - pnpm -w install --no-frozen-lockfile

# lint:
#   stage: lint
#   extends:
#     - .setup.info
#     - .cache
#   script:
#     - npm run lint
# rules:
#   - changes:
#     - src/**
#     - biome.json

# secret_detection:
#   stage: security

# sast:
#   stage: security

# sast:
#   stage: security
#   image: returntocorp/semgrep:latest
#   variables:
#     SEMGREP_RULES: "p/default"
#   script:
#     - semgrep ci --sarif --output semgrep.sarif
#   artifacts:
#     when: always
#     reports:
#       sast: semgrep.sarif
#     paths:
#       - semgrep.sarif
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#     - if: $CI_COMMIT_BRANCH == $MAIN_BRANCH


# test:
#   stage: test
#   extends:
#     - .setup.info
#     - .cache
#   script:
#     - npm test
#   artifacts:
#     when: always
#     reports:
#       junit: reports/junit/junit.xml
#     paths:
#       - reports/
#     expire_in: 1 week
# rules:
# - if: $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH
# - if: '$CI_COMMIT_BRANCH == $TEST_BRANCH'
# - changes:
#   - src/**

build:
  stage: build
  extends:
    - .setup.info
    - .setup.env.production
    - .setup.corepack
    - .cache
  script:
    - pnpm dlx vercel pull --yes --environment=production --token=$VERCEL_TOKEN
    - pnpm dlx vercel build --prod --token=$VERCEL_TOKEN
  artifacts:
    paths:
      - .next/
      - .vercel/
      - .env.local
    expire_in: 1 day

deploy:
  stage: deploy
  extends:
    - .setup.info
    - .setup.corepack
    - .cache
  needs:
    - job: build
      artifacts: true
  script:
    - pnpm dlx vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
  rules:
    - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH && $DATABASE_URL && $BETTER_AUTH_SECRET && $BETTER_AUTH_URL'

release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cli:latest
  script:
    - echo "create release"
  release:
    tag_name: $CI_COMMIT_TAG
    name: "Release $CI_COMMIT_TAG"
    description: "Release created using the CLI."

rollback:
  stage: rollback
  extends:
    - .setup.info
    - .setup.corepack
    - .cache
  script:
    - echo "Triggering Vercel rollback to previous production deployment..."
    - pnpm dlx vercel rollback --token "$VERCEL_TOKEN" --yes
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
    - when: never
  allow_failure: false

pages:
  stage: docs
  extends:
    - .setup.info
    - .setup.corepack
  before_script:
    - cd docs
    - pnpm install
  script:
    - pnpm build
    - mv build ../public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# cd docs -> pnpm i -> pnpm build -> pnpm start

include:
  # - template: Jobs/Secret-Detection.gitlab-ci.yml
  # - template: Jobs/SAST.gitlab-ci.yml
  - local: "ci/cache.yml"
  - local: "ci/setup.yml"

