stages:
  - test

test:
  stage: test
  image: node:20
  script:
    - pnpm install
    - pnpm test
  artifacts:
    when: always
    reports:
      junit: reports/junit/junit.xml
    paths:
      - reports/
