image: node:24

variables:
  MAIN_BRANCH: 'main'
  DEV_BRANCH: 'dev'
  TEST_BRANCH: 'test'

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH

stages:
  - setup
  - install
  - lint
  - test
  - build
  - deploy

setup:
  stage: setup
  script: 
    - npm install --package-lock-only
  artifacts:
    paths:
      - package-lock.json
    expire_in: 1 hour
    
install:
  stage: install
  extends: 
    - .setup.info
    - .cache.write
  needs:
    - job: setup
      artifacts: true
  script:
    - npm ci

lint:
  stage: lint
  extends:
    - .setup.info
    - .cache
  script:
    - npm run lint
  # rules:
  #   - changes:
  #     - src/**
  #     - biome.json

test:
  stage: test
  extends:
    - .setup.info
    - .cache
  script:
    - npm test
  artifacts:
    when: always
    reports:
      junit: reports/junit/junit.xml
    paths:
      - reports/
    expire_in: 1 week
  # rules:
    # - if: $CI_COMMIT_BRANCH == $TEST_BRANCH || $CI_COMMIT_BRANCH == $MAIN_BRANCH
    # - if: '$CI_COMMIT_BRANCH == $TEST_BRANCH'
    # - changes:
    #   - src/**
    #   - biome.json

build:
  stage: build
  extends:
    - .setup.info
    - .setup.env.production
    - .cache
  script:
    - npm run build
  artifacts:
    paths:
      - .next/
    expire_in: 1 week

# deploy:
#   stage: deploy
#   image: node:24
#   needs:
#     - job: build
#       artifacts: true
#   when: manual
#   environment:
#     name: production
#   script:
#     - echo "DATABASE_URL is set ${DATABASE_URL:+yes}"
#     - echo "BETTER_AUTH_SECRET is set ${BETTER_AUTH_SECRET:+yes}"
#     - echo "BETTER_AUTH_URL is set ${BETTER_AUTH_URL:+yes}"
#     - npm run deploy --if-present
#   only:
#     - main

release:
  stage: deploy
  image: node:24
  needs:
    - job: build
      artifacts: true
  before_script:
    - pnpm install
    - git config --global user.name "$GIT_USER_NAME"
    - git config --global user.email "$GIT_USER_EMAIL"
  script:
    - npx release-it --ci --no-npm.publish
  rules:
    - if: '$CI_COMMIT_BRANCH == $MAIN_BRANCH'

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - local: 'ci/cache.yml'
  - local: 'ci/setup.yml'